.clients
  margin-top: 60px

  &-block__img
   padding-left: 32px
   padding-right: 32px
   transition: filter .7s ease-in-out
   -webkit-filter: grayscale(99%)
    filter: grayscale(99%)

   &:hover
    -webkit-filter: grayscale(0%)
    filter: grayscale(0%)
    
    

.client-block__wrapper
 display: flex
 align-items: center
 justify-content: center
 width: 212px
 height: 130px
 background-color: #ffffff
 border: 1px solid rgba(0,0,0,0.09)
 margin-bottom: 30px

    